body {
    background-color: #fff;
}


.header {
    position: relative;
    height: 80vh;
    background-image: url('/assets/images/city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}